@import "../../css/typography.css";

.container {
    font-family: "Poppins Regular";
    display: flex;
    flex-direction: row;
    font-size: 45px;
    color: #ffffff;
    margin-bottom: 0px;
    text-decoration-color: #DA300F;
  }

  .divider {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #DA300F;
    align-self: center;
    font-size: 30px;
  }