@import "../../css/typography.css";

.backtick {
    font-family: "Poppins Regular";
    display: flex;
    flex-direction: row;
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 0px;
    text-decoration-color: #DA300F;
}

.header {
    font-family: "Poppins Regular";
    display: flex;
    flex-direction: row;
    font-size: 40px;
    color: #ffffff;
    margin-bottom: 0px;
}