@import "tailwindcss";
@plugin "@tailwindcss/typography";
@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "Poppins Regular";
  src: url("/fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins Bold";
  src: url("/fonts/Poppins/Poppins-Bold.ttf");
}

body {
  font-family: "Poppins Regular";
  background-color: #fff;
  color: #111827;
  transition-property: color, background-color;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}

.dark body {
  background-color: #032740;
  color: #fff;
}

div {
  font-family: "Poppins Regular";
}
