---
import BaseLayout from "../layouts/BaseLayout.astro"
---

<BaseLayout title="404 - Brendan Reed">
  <div class="text-5x flex flex-col items-center justify-center">
    <div class="mt-14 text-3xl text-white md:text-4xl">
      <p class="text-4xl font-bold text-red-600 md:text-5xl">404 Not Found</p>
      <div class="mt-14 text-3xl text-white md:text-4xl">
        Uh-oh, we couldn&apos;t find what you were looking for.
      </div>
    </div>
  </div>
</BaseLayout>
