---
import BaseLayout from "../layouts/BaseLayout.astro"
---

<BaseLayout title="Brendan Reed">
  <div class="text-5x flex flex-col items-center justify-center pb-16">
    <div class="max-w-xs md:max-w-3xl">
      <div
        class="mt-6 text-3xl text-gray-900 md:mt-14 md:text-4xl dark:text-white"
      >
        I'm a software engineer. I create delightful user experiences designed
        to help people engage with their data.
      </div>
      <p class="mt-10 text-lg text-gray-900 md:text-4xl dark:text-white">
        Lead software engineer at <a
          class="text-gray-900 underline decoration-red-700 dark:text-white"
          href="https://www.klaviyo.com">Klaviyo</a
        >. Previously at <a
          class="text-gray-900 underline decoration-red-700 dark:text-white"
          href="https://www.gocatalant.com">Catalant</a
        >, <a
          class="text-gray-900 underline decoration-red-700 dark:text-white"
          href="https://www.carbonite.com">Carbonite</a
        >, and <a
          class="text-gray-900 underline decoration-red-700 dark:text-white"
          href="https://www.zipari.com">Zipari</a
        >.
      </p>
      <p class="mt-10 text-lg text-gray-900 md:text-4xl dark:text-white">
        You can find me on <a
          class="text-gray-900 underline decoration-red-700 dark:text-white"
          href="https://www.github.com/breedy231">Github</a
        > and <a
          class="text-gray-900 underline decoration-red-700 dark:text-white"
          href="https://www.linkedin.com/in/brendanreed2/">LinkedIn</a
        >.
      </p>
      <div class="mt-10 flex flex-col gap-6 md:mt-5 md:flex-row md:gap-0">
        <div class="flex flex-col">
          <p class="text-xl font-bold text-gray-900 md:mr-36 dark:text-white">
            Located in
          </p>
          <p class="text-xl text-gray-900 dark:text-white">Chicago, IL</p>
        </div>
        <div class="flex flex-col">
          <p class="text-xl font-bold text-gray-900 md:mr-36 dark:text-white">
            Get in touch
          </p>
          <a
            class="text-xl break-words text-gray-900 underline decoration-red-700 md:mr-36 dark:text-white"
            href="mailto:bren.reed@protonmail.com"
          >
            bren.reed@protonmail.com
          </a>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
