@import "../css/typography.css";

.container {
  font-family: "Poppins Regular";
  display: flex;
  flex-direction: row;
  font-size: 45px;
  @apply text-gray-900 dark:text-white;
  text-decoration: none;
}

.smallContainer {
  font-family: "Poppins Regular";
  display: flex;
  flex-direction: column;
  font-size: 35px;
  @apply text-gray-900 dark:text-white;
  text-decoration: none;
}

.container:visited {
  @apply text-gray-900 dark:text-white;
}

.rightTab {
  margin-left: auto;
  display: flex;
  flex-direction: row;
}

.smallRightTab {
  margin-left: auto;
  display: flex;
  flex-direction: row;
}

.nav-links {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin-top: 0px;
}
.nav-link-item {
  padding-right: 1rem;
}
.small-nav-link-item {
  padding-right: 0.5rem;
}
.nav-link-text {
  @apply text-gray-900 dark:text-white;
  text-decoration: none;
}
.small-nav-link-header {
  @apply text-gray-900 dark:text-white;
  text-decoration: none;
  font-size: 35px;
  align-self: center;
}
.small-nav-link-text {
  @apply text-gray-900 dark:text-white;
  text-decoration: none;
  font-size: 20px;
  align-self: center;
}
.nav-link-text:visited {
  @apply text-gray-900 dark:text-white;
}
.nav-link-text:link {
  @apply text-gray-900 dark:text-white;
}

.divider {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #da300f;
}

div {
  font-family: "Poppins Regular";
}
