@import "../css/typography.css";

.container {
  font-family: "Poppins Regular";
  display: flex;
  flex-direction: row;
  font-size: 45px;
  @apply text-gray-900;
  text-decoration: none;
}

:global(.dark) .container {
  @apply text-white;
}

/* Mobile fallback: ensure vertical layout on small screens even if JS hasn't loaded */
@media (max-width: 599px) {
  .container {
    flex-direction: column;
    font-size: 35px;
  }
}

.smallContainer {
  font-family: "Poppins Regular";
  display: flex;
  flex-direction: column;
  font-size: 35px;
  @apply text-gray-900;
  text-decoration: none;
}

:global(.dark) .smallContainer {
  @apply text-white;
}

/* Responsive fallback: ensure horizontal layout on larger screens */
@media (min-width: 600px) {
  .smallContainer {
    flex-direction: row;
    font-size: 45px;
  }
}

.container:visited {
  @apply text-gray-900;
}

:global(.dark) .container:visited {
  @apply text-white;
}

.rightTab {
  margin-left: auto;
  display: flex;
  flex-direction: row;
}

.smallRightTab {
  margin-left: auto;
  display: flex;
  flex-direction: row;
}

.nav-links {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin-top: 0px;
}
.nav-link-item {
  padding-right: 1rem;
}
.small-nav-link-item {
  padding-right: 0.5rem;
}
.nav-link-text {
  @apply text-gray-900;
  text-decoration: none;
}

:global(.dark) .nav-link-text {
  @apply text-white;
}
.small-nav-link-header {
  @apply text-gray-900;
  text-decoration: none;
  font-size: 35px;
  align-self: center;
}

:global(.dark) .small-nav-link-header {
  @apply text-white;
}
.small-nav-link-text {
  @apply text-gray-900;
  text-decoration: none;
  font-size: 20px;
  align-self: center;
}

:global(.dark) .small-nav-link-text {
  @apply text-white;
}
.nav-link-text:visited {
  @apply text-gray-900;
}

:global(.dark) .nav-link-text:visited {
  @apply text-white;
}

.nav-link-text:link {
  @apply text-gray-900;
}

:global(.dark) .nav-link-text:link {
  @apply text-white;
}

.divider {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #da300f;
}

div {
  font-family: "Poppins Regular";
}
