@import "../css/typography.css";

.container {
    font-family: "Poppins Regular";
    display: flex;
    flex-direction: row;
    font-size: 45px;
    color: #ffffff;
    text-decoration: none;
  }

.container:visited {
  color: #ffffff;
}

.rightTab {
    margin-left: auto;
    display: flex;
    flex-direction: row;
}

.nav-links {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin-top: 0px;
}
.nav-link-item {
  padding-right: 1rem;
}
.nav-link-text {
  color: #ffffff;
  text-decoration: none;
}
.nav-link-text:visited {
  color: #ffffff;
}
.nav-link-text:link {
  color: #ffffff;
}

.divider {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #DA300F;
}